<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="box box-primary">

      <div class="box-body">
        <%= form_for [@exercise, @question] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label "Título" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <% @difficulties = DifficultyLevel.all
             @groups = QuestionGroup.all
          %>

          <div class="form-group">
            <div class="form-group">
              <div>Tipo de Questão</div>
              <% question_types.each do |type| %>
                <%= f.radio_button :question_type, type, class: "radio-inline" %>
                <%= f.label type %>
              <% end %>
            </div>

            <div class="form-group">
              <div>Nível de Dificuldade</div>  
              <% @difficulties.each do |difficulty| %>
                <%= f.radio_button :difficulty_level_id, difficulty.id, class: "radio-inline" %>
                <%= f.label difficulty.name %>
              <% end %>
            </div>
          </div>
          
          <div class="form-group">
            <div>Categoria</div> 
            <%= f.select :question_group_id, @groups.collect{|group|[group.name.capitalize,group.id]}%>
          </div>

          <div class="form-group">
            <%= f.label "Descrição" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <div class="form-group" style="width: 20%">
            <%= f.label "Pontuação" %>
            <%= f.number_field :score, min: 1, class: "form-control" %>
          </div>

          <div class="form-group">
            <div>Tipo de pontuação:</div>
            <%= f.radio_button :operation, "task", class: "radio-inline" %>
            <%= f.label "Tarefa" %>

            <%= f.radio_button :operation, "challenge", class: "radio-inline" %>
            <%= f.label "Desafio" %>
          </div>

          <div class="form-group">
            <div>Linguagem permitida para resposta</div>
            <% supported_languages.each do |language| %>
              <%= f.radio_button :answer_language_allowed, language, class: "radio-inline" %>
              <%= f.label language %>
            <% end %>
          </div>

          <div class="box-body">
            <a style="cursor: pointer" data-toggle="collapse" data-target="#and-dependencies">
              <i class="fa fa-plus-square"></i> Dependências
            </a>


            <div id="and-dependencies" class="collapse">
              <table class="table table-condensed" style="width: 60%">
                <tbody>
                  <% @questions.each do |question| %>
                    <tr>
                      <td>
                          <%= truncate(question.description, length: 50,
                                                             separator: " ") %>
                      </td>
                      <td>
                        <select name="question-<%= question.id %>" class="form-control" style="width: 80px">
                          <option value=""></option>
                          <option value="AND">AND</option>
                          <option value="OR">OR</option>
                        </select>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <%= f.submit yield(:button_text), class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var simplemde = new SimpleMDE( { element: $('textarea')[0],
                                   toolbar: ["preview",
                                             "|",
                                             "bold",
                                             "italic",
                                             "heading-1",
                                             "heading-2",
                                             "heading-3",
                                             "link",
                                             "image",
                                             "table",
                                             "code",
                                             "quote",
                                             "unordered-list",
                                             "ordered-list",
                                             "|",
                                             "guide"]});
</script>
