<%= provide(:header, "Turma '#{@team.name}'") %>
<%= provide(:description, "Cada coluna representa a quantidade de questões respondidas corretamente pelo aluno no exercício") %>

<%= render 'teams/team_menu', team: @team do %>
  <table class="table table-bordered">
    <thead>
      <th>Aluno</th>
      
      <% @team.exercises.each do |exercise| %>
        <th><%= exercise.title %> (<%= exercise.questions.count %> questões)</th>
      <% end %>
    </thead>
    <tbody>
      <% @answers_data.each do |data| %>
        <tr>
          <td><%= link_to data[:user].name, user_team_path(@team,data[:user]) %></td>
          
          <% data[:exercises].each do |exercise_info| %>
            <td class="text-center">
              <%= exercise_info[:total_questions_right_answered] %><br>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-success"
                style="width: <%= exercise_info[:percent] %>%"></div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
