<table class="table table-bordered">
  <thead>
    <th>Questão</th>
    <th>Dependências AND (todas devem ser respondidas)</th>
    <th>Depedências OR (ao menos uma delas deve ser respondida)</th>
  </thead>

  <tbody>
    <% @exercise.questions.each do |question| %>
      <tr>
        <td>
          <div style="display: block;">
            <%=
                link_to_if(
                  recommendation_checker.able_to_answer?(question),
                  question.title,
                  new_answer_question_url(question, @team)
                )
            %>
            <div style="margin-top: 10px">Valor: <%= question.score %> (<%= question_score_title(question) %>)</div>
          </div>
        </td>
        <td>
          <ul>
            <%
              recommendation_checker
                .dependencies_by_operator(
                  question: question,
                  operator: "AND"
                ).each do |dependency|
            %>
                  <li>
                    <%=
                        link_to_if(
                          recommendation_checker.able_to_answer?(dependency),
                          dependency.title,
                          new_answer_question_url(dependency, team)
                        )
                    %>
                  </li>
               <% end %>
          </ul>
        </td>

        <td>
          <ul>
            <% @recommendation_checker
                .dependencies_by_operator(
                  question: question,
                  operator: "OR"
                ).each do |dependency| %>
                <li>
                  <%=
                      link_to_if(
                        recommendation_checker.able_to_answer?(dependency),
                        dependency.title,
                        new_answer_question_url(dependency, team)
                      )
                  %>
                </li>
               <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
