<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="width: 10px">#</th>
      <th>Questão</th>
      <th>Grupo</th>
      <th>Nível de Dificuldade</th>
      <th>Tipo de Questão</th>
      <th style="width: 70px">Resposta</th>
    </tr>
    <% if exercise.isRecommendationList? %>
      <% exercise.questions.joins(:question_group).joins(:difficulty_level).merge(QuestionGroup.order(:level)).order(:question_type).merge(DifficultyLevel.order(:level)).each_with_index do |question, index| %>
        <% if question.difficulty_level.level != 4 and question.question_type == "normal" %>
          <tr>
            <td><%= index %>.</td>
            <td><%= link_to_if(recommendation_checker.able_to_answer?(question), question.title, new_answer_question_path(question, team)) %></td>
            <td><%=question.question_group.name%></td>
            <td><%=question.difficulty_level.name%></td>
            <td><%=question.question_type%></td>
            <td>
              <%= raw question_status(question, team) %>
            </td>
          </tr>
        <%elsif recommendation_checker.need_user_answer_recommendation?(question) %>
          <tr>
              <td><%= index %>.</td>
              <td><%= link_to_if(recommendation_checker.able_to_answer?(question), question.title, new_answer_question_path(question, team)) %></td>
              <td><%=question.question_group.name%></td>
              <td><%=question.difficulty_level.name%></td>
              <td><%=question.question_type%></td>
              <td>
                <%= raw question_status(question, team) %>
              </td>
            </tr>
        <%elsif question.difficulty_level.level == 4%>
            <%if recommendation_checker.generate_challenge_question?(question)%>
              <tr>
                <td><%= index %>.</td>
                <td><%= link_to_if(recommendation_checker.able_to_answer?(question), question.title, new_answer_question_path(question, team)) %></td>
                <td><%=question.question_group.name%></td>
                <td><%=question.difficulty_level.name%></td>
                <td><%=question.question_type%></td>
                <td>
                  <%= raw question_status(question, team) %>
                </td>
              </tr>
            <%end%>
        <% end%>
      <% end %>
    <% else %>
      <% exercise.questions.joins(:question_group).joins(:difficulty_level).merge(QuestionGroup.order(:level)).order(:question_type).merge(DifficultyLevel.order(:level)).sort_by{|x| x.title}.each_with_index do |question, index| %>
        <% if question.difficulty_level.level != 4 and question.question_type == "normal" %>
          <tr>
            <td><%= index %>.</td>
            <td><%= link_to_if(recommendation_checker.able_to_answer?(question), question.title, new_answer_question_path(question, team)) %></td>
            <td><%=question.question_group.name%></td>
            <td><%=question.difficulty_level.name%></td>
            <td><%=question.question_type%></td>
            <td>
              <%= raw question_status(question, team) %>
            </td>
          </tr>
        <%elsif recommendation_checker.need_user_answer_recommendation?(question) %>
          <tr>
              <td><%= index %>.</td>
              <td><%= link_to_if(recommendation_checker.able_to_answer?(question), question.title, new_answer_question_path(question, team)) %></td>
              <td><%=question.question_group.name%></td>
              <td><%=question.difficulty_level.name%></td>
              <td><%=question.question_type%></td>
              <td>
                <%= raw question_status(question, team) %>
              </td>
            </tr>
        <%elsif question.difficulty_level.level == 4%>
            <%if recommendation_checker.generate_challenge_question?(question)%>
              <tr>
                <td><%= index %>.</td>
                <td><%= link_to_if(recommendation_checker.able_to_answer?(question), question.title, new_answer_question_path(question, team)) %></td>
                <td><%=question.question_group.name%></td>
                <td><%=question.difficulty_level.name%></td>
                <td><%=question.question_type%></td>
                <td>
                  <%= raw question_status(question, team) %>
                </td>
              </tr>
            <%end%>
        <% end%>
      <% end %>
    <%end%>
  </tbody>
</table>
