<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="box box-solid box-primary">
      <div class="box-header text-center" style="height: 40px">
        <div class="box-title" style="font-size: 25px">Cadastre-se</div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">

          <div class="col-md-offset-2 col-md-8">
            <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control", autofocus: true %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :Categoria, "Professor" %>
                <%= f.radio_button :teacher, true %>
                <%= f.label :Categoria, "Aluno" %>
                <%= f.radio_button :teacher, false, :checked => true %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="form-group">
                  <%= f.submit "Sign up", class: "btn btn-primary pull-right" %>
              </div>
            <% end %>

            <div class="form-group">
                <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>

      </div><!-- /.box-body -->
    </div>

  </div>
</div>
