<% force_show_expected_output |= false %>
<% test_case = test_case_result.test_case %>
<% correct = test_case_result.correct %>
  <div class="row">
    <div class="col-md-12">

      <div class="box box-solid box-<%= correct_style_test_case(test_case_result) %>">
        <div class="box-header">
          <div class="row">
            <div class="col-md-10">
              <i class="<%= correct_icon_test_case(test_case_result) %>"></i>
              <%= test_case_result.test_case.title %>
            </div>

            <div class="col-md-2">
              <div class="btn-group pull-right" role="group">
              <button class="btn btn-primary btn-sm" data-toggle="collapse"
                      data-target="#test-case-input-<%= test_case_result.id %>">
                <i class="fa fa-columns"></i> Entrada 
              </button>
              <button class="btn btn-primary btn-sm" data-toggle="collapse"
                      data-target="#test-case-diff-<%= test_case_result.id %>">
                <i class="fa fa-columns"></i> Saída 
              </button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        
        <div id="test-case-diff-<%= test_case_result.id %>" class="box-body collapse">
          <% unless test_case_result.test_case.show_expected_output || force_show_expected_output %>
            <p>Saída:</p>
            <table class="diff">
              <tbody>
                <% test_case_result.output.each_line.with_index do |line, index| %>
                  <tr>
                    <th><%= index + 1 %></th>
                    <td class="replace"><%= line %></td>
                  </tr>
                  <% if index == (test_case_result.output.lines.count - 1) && line[-1..-1] == "\n" %>
                    <tr>
                      <th><%= index + 2 %></th>
                      <td class="replace"></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div><!-- /.box-body -->
        
        <div id="test-case-input-<%= test_case_result.id %>" class="box-body collapse">
            <p>Entrada:</p>
            <% if test_case.inputs.first.nil? %>
              Este caso de teste não possuí nenhuma entrada.
            <% else %>
            <table class="diff">
              <tbody>
                <% tam = test_case.inputs.first.lines.count - 1 %>
                <% test_case.inputs.first.each_line.with_index do |line, index| %>
                  <tr>
                    <th><%= index + 1 %></th>
                    <td class="replace"><%= line %></td>
                  </tr>
                  <% if index == tam && line[-1..-1] == "\n" %>
                    <tr>
                      <th><%= index + 2 %></th>
                      <td class="replace"></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <% end %>
        </div><!-- /.box-body -->
      </div><!-- box -->
    </div><!-- row -->
  </div>

<% if test_case_result.test_case.show_expected_output || force_show_expected_output %>
  <script text="text/javascript">
    var baseText = "<%= j raw(test_case_result.test_case.output) %>";
    var newText = "<%= j raw(test_case_result.output) %>";
    var baseTextName = "Esperado";
    var newTextName = "Recebido";
    var tagId = "test-case-diff-<%= test_case_result.id %>"

    diffView(baseText, newText, baseTextName, newTextName, tagId);
  </script>
<% end %>
