<%= provide(:header, "Responder questão '#{@question.title}'") %>

<% provide(:url, url_for(:action => 'create', :controller => 'answers')) %>

<% breadcrumb :new_answer, @team, @question %>

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"><b>Enunciado:</b></h3>
      </div>

      <div class="box-body">
        <%= markdown(@question.description) %>
      </div>
    </div>
  </div>
  
  <!--<div class="col-md-6" style="border-right: 1px solid black">-->
    <%= render "shared/answer_form" %>
    <br></br>
    <div id="test-results">
      <% @test_cases_results.each do |test_case_result| %>
        <%= render partial: 'shared/test_case_result', locals: {test_case_result: test_case_result} %>
      <% end %>
    </div>
    <!--</div>-->


</div>
