<!DOCTYPE html>
<html>
  <head>
    <title>FARMA-ALG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-blue sidebar-mini" data-controller="<%= controller_name.camelize %>" data-action="<%= action_name %>">
    <div class="wrapper">
      <%= render "shared/header" %>

      <% if user_signed_in? %>
        <%= render "shared/sidebar" %>
      <% end %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%= render "shared/flash_messages", object: flash %>

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div><%= breadcrumbs style: :bootstrap %></div>
          <h1>
            <%= yield(:header) %>
            <br></br>
            <small> <%= yield(:description) %> </small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <%= yield %>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%= render "shared/footer" %>
    </div>
    <!-- /wrapper -->
  </body>
</html>
